<p>El proyecto Encuentro busca utilizar técnicas de Inteligencia Artificial para asistir en la búsqueda de nietos desaparecidos durante la última dictadura militar en Argentina. Las historias y datos de los nietos desaparecidos podrían usarse para descubrir patrones que permitan encontrar los nietos todavía buscados. Este grupo candidato sería lo suficientemente reducido como para hacer factible un acercamiento individual y/o la evaluación de su ADN.</p>

<p>Las técnicas de Inteligencia Artificial permiten analizar información conocida para extraer conclusiones sobre información que se desconoce. Esto nos permitiría utilizar diferentes tipos de información (relaciones parentales, lugares geográficos, parecidos físicos, historias de los padres adoptivos, etc.) para encontrar qué ciudadanos Argentinos son potencialmente nietos desaparecidos.</p>

<p>Nuestra más grande motivación es saber que los nietos que estamos buscando están mostrando su vida en las redes sociales, hablando por celular y caminando por la calle. Para encontrarlos es suficiente saber sus nombres actuales ó sus números de DNI. La información que ata su pasado a su presente está ahí, esperando. Queremos encontrarla.</p>

