<p>Title: Proyecto Encuentro
Date: 2016-04-19
save_as: index.html</p>

<h1 id="proyecto-encuentro">Proyecto Encuentro</h1>
<p>El proyecto Encuentro busca utilizar técnicas de Inteligencia Artificial para asistir en la búsqueda de nietos desaparecidos durante la última dictadura militar en Argentina. Las historias y datos de los nietos desaparecidos podrían usarse para descubrir patrones que permitan encontrar los nietos todavía buscados. Este grupo candidato sería lo suficientemente reducido como para hacer factible un acercamiento individual y/o la evaluación de su ADN.</p>
